# =========================
# OS / System files
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# Python / Django
# =========================
__pycache__/
*.pyc
*.pyo
venv/
env/
db.sqlite3

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# Node / React
# =========================
node_modules/
dist/
build/

# =========================
# Editor / IDE
# =========================
.vscode/
.idea/
